
//
// Global config
//

$grid-columns: 12 !default
$grid-spacing: 30px !default
$grid-vertical-spacing: $grid-spacing !default
$grid-max-width: 1024px !default
$grid-row-class: "row" !default
$grid-col-class: "col" !default
$grid-outside-spacing-class: ".outside-spacing" !default
$grid-debug: false !default
$grid-box-sizing: border-box !default
$grid-auto-padding: false !default

//
// Private
//

$--grid-columns: null
$--grid-spacing: null
$--grid-vertical-spacing: null
$--grid-max-width: null
$--grid-padding: null

=grid-box-sizing()
  @if $grid-box-sizing
    box-sizing: $grid-box-sizing

=grid-container($columns: null, $spacing: null, $vertical-spacing: null, $max-width: null)
  +grid-box-sizing
  $--grid-columns: $grid-columns !global
  $--grid-spacing: $grid-spacing !global
  $--grid-vertical-spacing: $grid-vertical-spacing !global
  $--grid-max-width: $grid-max-width !global
  @if $columns != null
    $--grid-columns: $columns !global
  @if $spacing != null
    $--grid-spacing: $spacing !global
  @if $vertical-spacing != null
    $--grid-vertical-spacing: $vertical-spacing !global
  @if $max-width != null
    $--grid-max-width: $max-width !global
  padding: 0 $--grid-spacing / 2
  overflow: hidden

=grid-row($outside-spacing: null)
  +clearfix
  +grid-box-sizing
  @if $outside-spacing == true
    margin: 0
  @else if $outside-spacing != null
    margin: 0 $outside-spacing
  @else
    margin: 0 $--grid-spacing * -1


=grid-col($span: 1, $padding: null)
  $width: $span / $--grid-columns * 100%
  $half-spacing: $--grid-spacing / 2
  @if $padding == null
    $padding: $--grid-vertical-spacing $half-spacing 0 $half-spacing
  float: left
  width: $width
  +grid-box-sizing
  padding: $padding
  @if $grid-auto-padding
    @for $i from 1 to $--grid-columns / $span + 1
      &:nth-child(#{$i})
        padding-top: 0
  @if $grid-debug
    &:after
      display: block
      content: "" + $padding + ", " + $--grid-spacing
      color: #000
      background-color: #fff
      text-align: center

=grid($columns: null, $spacing: null, $padding: null, $max-width: null, $row-selector: null, $col-selector: null, $outside-spacing: null)
  @if $row-selector == null
    $row-selector: "> ." + $grid-row-class
  @if $col-selector == null
    $col-selector: $row-selector + " > ." + $grid-col-class
  +grid-container($columns, $spacing, $padding, $max-width)
  #{$row-selector}
    +grid-row($outside-spacing)
  #{$col-selector}
    +grid-col(1)
  @if $grid-outside-spacing-class
    #{$row-selector} + "." + #{$grid-outside-spacing-class},
    & + "." + #{$grid-outside-spacing-class} #{$row-selector}
      margin-left: 0
      margin-right: 0

